
.header {
    position: absolute;


    width: 290px;
    height: 40px;
    top: 116px;
    left: 100px;


    font-family: 'Source Sans Pro';
    font-style: normal;
    font-size: 32px;
    font-weight: 700px;
    line-height: 40.22px;
    color: #2B2B2B;
}
.breadcrumb {

    position: absolute;
    width: 321px;
    height: 100px;
    top: 96px;
    left: 100px;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
}
.lastModified {
    position: absolute;
    height: 18px;
    width: 211px;
    left: 332.375px;
    top: 249.21400451660156px;
    border-radius: nullpx;
    left: 3.08%;
    right: 62.27%;
    top: 32.69%;
    bottom: 70.31%;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
/* identical to box height */
    color: #2B2B2B;
}
.version {
    height: 18px;
    width: 136px;
    left: 332px;
    top: 275.2139892578125px;
    border-radius: nullpx;

    position: absolute;
    left: 3.06%;
    right: 67.5%;
    top: 47.58%;
    bottom: 67.42%;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
/* identical to box height */
    color: #2B2B2B;
}
.publicationDate {
    height: 18px;
    width: 192px;
    left: 332.375px;
    top: 299.2139892578125px;
    border-radius: nullpx;

    position: absolute;
    left: 3.08%;
    right: 63.59%;
    top: 62.25%;
    bottom: 64.75%;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
/* identical to box height */
    color: #2B2B2B;
}
.divider {
    height: 0px;
    width: 351.75px;

    border-radius: 0px;

    position: absolute;
    left: 0%;
    right: 53.35%;
    top: 25.91%;
    bottom: 74.09%;
    border: 1px solid #D9DFE8;
}
.title {
    height: 25px;
    width: 300px;
    left: 332px;
    top: 197px;
    border-radius: nullpx;

    position: absolute;
    left: 3.06%;
    right: 69.17%;
    top: 5.89%;
    bottom: 75.33%;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #002867;
}
.button {
    height: 39px;
    width: 352px;
    left: 320px;
    top: 539px;
    border-radius: 0px;

    position: absolute;
    left: 0.00%;
    right: 53.33%;
    top: 78.89%;
    bottom: 35.78%;

    background: #023E88;
}
.buttonLabel {
    height: 17px;
    width: 207px;
    left: 440px;
    top: 550px;
    border-radius: nullpx;

    position: absolute;
    left: 20.56%;
    right: 62.01%;
    top: 30.11%;
    bottom: 37%;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    color: #FFFFFF;
}

.container {

    position: absolute;
    width: 1440px;
    height: 900px;
    top: 0px;
    left: 150px;
    border: 1px;
    
    background: #F6F6F6;
}

.containerShaded {

    position: absolute;
    width: 1440px;
    height: 900px;
    top: 0px;
    left: 150px;
    border: 1px;
    
    
    background: #2B2B2B66;


}

.box {
    height: 187.11px;
    width: 351px;
   
    border-radius: 0px;
    border: 1px solid #00286726;
    box-shadow: 0px 0px 10px 0px #00000029;

    position: relative;
   

    background: #FFFFFF;
}

.boxStack {
    position: absolute;


    top: 186px;
    left: 100px;

    width: 1088px;
    height: 800px;
    
}

.upload {
    position: absolute;
    width: 57px;
    height: 20px;
    top: 128px;
    left: 970px;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

}

.createNew {
    position: absolute;
    width: 142px;
    height: 35px;
    top: 120px;
    left: 1050px;
    border: 1px;

    border: 1px solid #073C92;
}